<div class="box">
    <h4 class="subtitle is-3 has-text-black">{{ transfer.title }}</h4>
    <div class=" columns is-multiline">
        <div class="column is-one-quarter has-text-right"><p>Date:</p></div>
        <div class="column is-three-quarters has-text-left"><p>{{ transfer.date }}</p></div>

        <div class="column is-one-quarter has-text-right"><p>Amount:</p></div>
        <div class="column is-three-quarters has-text-left"><p>{{ transfer.amount }}</p></div>

        <div class="column is-one-quarter has-text-right"><p>IBAN:</p></div>
        <div class="column is-three-quarters has-text-left"><p>{{ transfer.iban }}</p></div>
    </div>
</div>  