{% extends "base.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
    <h3 class="title"> Welcome, {{ login }} <br> Change Password</h3>
    <div class="box">
        <form method="POST" action="/resetpass">
            {{ form.csrf_token }}
            <div class="field">
                <div class="control">
                    {{ form.email(class="input is-large" + (" is-danger" if form.email.errors else  ""), placeholder="Email") }}
                </div>
                {% if form.email.errors %}
                <ul>
                    {% for error in form.email.errors %}
                        <li class="help is-large is-danger">{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
            <button class="button is-block is-info is-large is-fullwidth">Reset</button>
        </form>
    </div>
</div>
{% endblock %}