{% extends "base.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
    <h3 class="title">New Transfer</h3>
    <div class="box">
        <form id="transferForm" method="POST" action="{{ url_for('transfer.new') }}">
            {{ form.csrf_token }}
            <div class="field">
                <div class="control">
                    {{ form.title(class="input is-large" + (" is-danger" if form.title.errors else  ""), placeholder="Title") }}
                </div>
                {% if form.title.errors %}
                <ul>
                    {% for error in form.title.errors %}
                        <li class="help is-large is-danger">{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>

            <div class="field">
                <div class="control">
                    {{ form.date(class="input is-large" + (" is-danger" if form.date.errors else  "")) }}
                </div>
                {% if form.date.errors %}
                <ul>
                    {% for error in form.date.errors %}
                        <li class="help is-large is-danger">{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>

            <div class="field">
                <div class="control">
                    {{ form.amount(class="input is-large" + (" is-danger" if form.amount.errors else  ""), placeholder="Amount") }}
                </div>
                {% if form.amount.errors %}
                <ul>
                    {% for error in form.amount.errors %}
                        <li class="help is-large is-danger">{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>

            <div class="field">
                <div class="control">
                    {{ form.iban(class="input is-large" + (" is-danger" if form.iban.errors else  ""), placeholder="IBAN") }}
                </div>
                {% if form.iban.errors %}
                <ul>
                    {% for error in form.iban.errors %}
                        <li class="help is-large is-danger">{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>

            <button class="button is-block is-info is-large is-fullwidth">Save</button>
        </form>
    </div>
</div>
{% endblock %}